In [1]:
lst = [1,2,3,44,"god",2,4,"krishn",2,34] # list
tpl = (3,2,4,2,1,3,343,2,'great','good') # tuple

dict1 = {"name":"Ramu",'age':300,"adress":"ABC chowk"
         ,"marks":99,"education":"BE_IT"} # Dictionary

st = {1,42,5,23,5,23,14,23} # set
st1 = set(["vikas","shayma",32,54,212]) # set

str = "Welcome" # String

In [ ]:
# loop is use for iteration over sequence
#

In [ ]:
# for i in lst:
#     #body of for loop
#     print()
#     vr = 10+28
#     print()

In [3]:
lst = ["m","t","w","Th","Fr",'sat']
#print(lst)

for i in lst:
    print(i)

m
t
w
Th
Fr
sat

In [ ]:
lst_demo = ["Ram",35,462,"Shyam","Krishn","Radhe",45]
#print(lst_demo)
for i in lst_demo:
    print(i)

In [5]:
lst_demo = ["Ram",35,462,"Shyam","Krishn","Radhe",45]
#print(lst_demo)
for i in enumerate(lst_demo):
    print(i)

(0, 'Ram')
(1, 35)
(2, 462)
(3, 'Shyam')
(4, 'Krishn')
(5, 'Radhe')
(6, 45)

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10): # i will start from 1 to 9 bcz 10-1 = 9
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,20,7): # i will start from 1 to 9 bcz 10-1 = 9
    print(i)

1
7
13
19

In [10]:
strings_list = [
    "apple", "banana", "cherry", "date", "elderberry", "fig", "grape", "honeydew", 
    "kiwi", "lemon", "mango", "nectarine", "orange", "papaya", "quince", "raspberry", 
    "strawberry", "tangerine", "ugli fruit", "watermelon"
]

for fruits in strings_list:
    print(fruits)

apple
banana
cherry
date
elderberry
fig
grape
honeydew
kiwi
lemon
mango
nectarine
orange
papaya
quince
raspberry
strawberry
tangerine
ugli fruit
watermelon

In [11]:
dict1 = {"name":"Ramu",'age':300,"adress":"ABC chowk"
         ,"marks":99,"education":"BE_IT"} # Dictionary

for j in dict1:
    print(j)

name
age
adress
marks
education

In [12]:
for j in dict1.values():
    print(j)

Ramu
300
ABC chowk
99
BE_IT

# print key and value at same time

In [15]:
dict1 = {"name":"Ramu",'age':300,"adress":"ABC chowk"
         ,"marks":99,"education":"BE_IT"} # Dictionary

for j in dict1:
    #print(j,dict1[j])
    if j =="age":
        print("------",dict1[j])
    if j=="adress":
        print("------",dict1[j])
else:
    print("Completed")

------ 300
------ ABC chowk
Completed

In [29]:
srt = "Welcome to the Python world"

for st in srt:
    print(st)

W
e
l
c
o
m
e

t
o

t
h
e

P
y
t
h
o
n

w
o
r
l
d

In [40]:
srt = "Welcome to the Python world"

for st in srt:
    print(st,end = "")
    if "P" == st:
        print("----")
        #break
#         continue

Welcome to the P----
ython world

In [45]:
srt = "Welcome to the Python world"
char = "o"
count = 0
for j in srt:
    if j==char:
        count+=1
print(count)

4

In [39]:
srt = "Welcome to the Python world"
srt.count("o")

4

In [64]:
string = input("Please enter your own String : ")
char = input("Please enter your own Character : ")

count = 0
for i in range(len(string)):
    if(string[i] == char):
        count = count + 1

print("The total Number of Times ", char, " has Occurred = " , count)

Please enter your own String : Welcome
Please enter your own Character : e
The total Number of Times  e  has Occurred =  2

In [48]:
lst_demo = ["Ram",35,462,"Shyam","Krishn","Radhe",45]

for i in lst_demo:
    print(i)

Ram
35
462
Shyam
Krishn
Radhe
45

In [55]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [56]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [50]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [46]:
len(srt)

27

In [47]:
range(len(srt))

range(0, 27)

In [62]:
len(srt)

27

In [ ]:
string = input("Please enter your own String : ")
char = input("Please enter your own Character : ")

count = 0
for i in range(len(string)):
    if(string[i] == char):
        count = count + 1

print("The total Number of Times ", char, " has Occurred = " , count)

In [8]:
print(dict1)

{'name': 'Ramu', 'age': 300, 'adress': 'ABC chowk', 'marks': 99, 'education': 'BE_IT'}

In [9]:
print(lst)

[1, 2, 3, 44, 'god', 2, 4, 'krishn', 2, 34]

In [10]:
print(tpl)

(3, 2, 4, 2, 1, 3, 343, 2, 'great', 'good')

In [11]:
print(str)

Welcome

In [12]:
print(st)

{1, 5, 23, 42, 14}

In [13]:
print(st1)

{32, 'vikas', 212, 54, 'shayma'}

# Syntax of for loop

In [15]:
# if "condition":
    # body of  if block

In [16]:
# for iterable_var_name in sequence:
    #body of for loop

In [17]:
lst = [1,2,3,44,"god",2,4,"krishn",2,34]
for i in lst:
    print("for loop")

for loop
for loop
for loop
for loop
for loop
for loop
for loop
for loop
for loop
for loop

In [20]:
lst = [1,2,3,44,"god",2,4,"krishn",2,34]
for i in lst:
    print(i)
    #break

1
2
3
44
god
2
4
krishn
2
34

In [33]:
lst = [1,2,3,44,"god",2,4,"krishn",2,34]
lst1 = []
for i in lst:
    l= lst1.append(i)
    if l=="good":
        break
print(lst1[0:5])
    
    #break

[1, 2, 3, 44, 'god']

In [75]:
lst = [10,21,323,44,"god",23,40,"krishn",212,34,10]
l = []
other = []
for i in lst:
    #print(i)
    if i == 10 or i=="god" or i==23:
        l.append(i)
    else:
        other.append(i)           
print(l)
print(other)

[10, 'god', 23, 10]
[21, 323, 44, 40, 'krishn', 212, 34]

In [47]:
lst = [1,2,3,44,"god",2,4,"krishn",2,34]
for i in lst:
    if i==4:
        print(i)

4

# For loop can iterate on tuple

In [48]:
tpl = (3,2,4,2,1,3,343,2,'great','good') # tuple
for j in tpl:
    print(j)

3
2
4
2
1
3
343
2
great
good

# For loop on Dictinary

In [49]:
dict1 = {"name":"Ramu",'age':300,"adress":"ABC chowk"
         ,"marks":99,"education":"BE_IT"} 

for k in dict1:
    print(k)

name
age
adress
marks
education

# For loop on Set data structure

In [50]:
st1 = set(["vikas","shayma",32,54,212]) 
for l in st1:
    print(l)

32
vikas
212
54
shayma

# For loop on String

In [53]:
str = "welcome"
for m in str:
    print(m)

w
e
l
c
o
m
e

# use of  end keyword

In [54]:
str = "welcome"
for m in str:
    print(m,end = "")

welcome

In [55]:
str = "welcome"
for m in str:
    print(m,end = " ") # space

w e l c o m e

In [56]:
str = "welcome"
for m in str:
    print(m,end = "-") # -

w-e-l-c-o-m-e-

# For loop with condition

In [59]:
lst11  = [21,43,31,31,45,2312,3,233,12,4,5,23]
for d in lst11:
    print(d,end=" ")

21 43 31 31 45 2312 3 233 12 4 5 23

In [60]:
lst11  = [21,43,31,31,45,2312,3,233,12,4,5,23]
for d in lst11:
    #print(d,end=" ")
    if d%2==0: # 21 %2 == 0
        print("even",d)
    else:
        print("odd",d)

odd 21
odd 43
odd 31
odd 31
odd 45
even 2312
odd 3
odd 233
even 12
even 4
odd 5
odd 23

In [61]:
21 %2 == 0

False

In [62]:
2312%2 == 0

True

In [64]:
lst11  = [21,43,31,31,45,2312,3,233,12,4,5,23]
even = []
odd = []
for d in lst11:
    #print(d,end=" ")
    if d%2==0: # 21 %2 == 0
        #print("even",d)
        even.append(d)
    else:
        #print("odd",d)
        odd.append(d)
print("Even numbers are:",even)
print("Odd numbers are:",odd)

Even numbers are: [2312, 12, 4]
Odd numbers are: [21, 43, 31, 31, 45, 3, 233, 5, 23]

# Range function in python

In [66]:
#print(range(0,9))

range(0, 9)

In [68]:
#Problem :print number from 0 to 9
print(0)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)

0
1
2
3
4
5
6
7
8
9

In [69]:
print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [72]:
print(list(range(0,100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [74]:
for i in range(0,100):
    print(i,end = " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

# Even numbers from 0 to 100

In [75]:
for i in range(0,100,2): # start , end-1,steps
    print(i,end = " ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [77]:
for i in range(100,200): # start , end-1
    print(i,end = " ")

100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199

In [80]:
for i in range(100,200,2): # start , end-1,steps
    print(i,end = " ")

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198

# Error s

In [82]:
for i in range(100,200,2):
print(i,end = " ")

IndentationError: expected an indented block (2664448706.py, line 2)

In [83]:
for i in range(100,200,2)
    print(i,end = " ")

SyntaxError: invalid syntax (1949982623.py, line 1)

In [84]:
for i in range(100,200,2):
    print(i,end = " "

SyntaxError: unexpected EOF while parsing (1084714008.py, line 2)

In [85]:
for 1 in range(100,200,2):
    print(i,end = " "

SyntaxError: cannot assign to literal (3985305164.py, line 1)

In [85]:
for i in rage(100,200,2):
    print(i,end = " ")

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198

In [86]:
for i in range(100,200,2):
    print(i,end = " ")

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198

In [89]:
greater = []
smaller = []
for i in range(100,200,2):
    if i>150:
        greater.append(i)
    else:
        smaller.append(i)

In [90]:
print(greater)

[152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [91]:
print(smaller)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]

# Nested For loop

In [92]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [86]:
lst = [10,20,340,30.9]
for i in lst:
    print(i)

10
20
340
30.9

In [ ]:
lst = [10,20,340,30.9]
lst2 = [1,2]
for i in lst:
    for j in lst2:
        print(j)
    print(i)

0
1
2

In [94]:
for i in range(5):
    print(i)

0
1
2
3
4

In [96]:
for j in range(4):
    print(j)

0
1
2
3

In [100]:
for i in range(5):
    print("*****",i)
    for j in range(4):
        print("------",j)

***** 0
------ 0
------ 1
------ 2
------ 3
***** 1
------ 0
------ 1
------ 2
------ 3
***** 2
------ 0
------ 1
------ 2
------ 3
***** 3
------ 0
------ 1
------ 2
------ 3
***** 4
------ 0
------ 1
------ 2
------ 3

In [99]:
for i in range(0,3):# 0,1,2
    print("outer loop")
#     for j in range(0,3):
#         print("inner loop")

outer loop
outer loop

In [98]:
for i in range(0,7):# 0,1,2,3,4
    print("outer loop")

outer loop
outer loop
outer loop
outer loop
outer loop
outer loop
outer loop

In [100]:
for i in range(1,3):# 1,2
    print("outer loop")

outer loop
outer loop

In [102]:
for i in range(0,3):# 0,1,2
    print("outer loop")
        for j in range(0,3): # 0,1,2
        print("inner loop")

IndentationError: unexpected indent (1592195558.py, line 3)

In [104]:
for i in range(0,3):# 0,1,2
    print("outer loop")
    for j in range(0,3): # 0,1,2
            print("inner loop")

outer loop
inner loop
inner loop
inner loop
outer loop
inner loop
inner loop
inner loop
outer loop
inner loop
inner loop
inner loop

In [5]:
#num = int(input("enter a number:"))
num1 = list(range(3))
for i in num1:# 0,1,2
    print("outer loop")

outer loop
outer loop
outer loop

In [1]:
# num = int(input("enter a number:"))
# i = 0
# while num>1:
#     print("greavhjadhsa")
#     i+=1

# Taking input from user and applying for loop on the same

In [3]:
num = int(input("enter a number:"))
for i in range(num):
    print(i)

enter a number:10
1
2
3
4
5
6
7
8
9

In [6]:
num = int(input("Enter a number:"))
for i in range(1,num):
    print(i)

Enter a number:12
1
2
3
4
5
6
7
8
9
10
11

In [7]:
num = int(input("Enter a number:"))
for i in range(1,num,2):
    print(i)

Enter a number:12
1
3
5
7
9
11

# Nested

In [8]:
for i in range(0,3):# 0,1,2
    print("outer loop")
    for j in range(0,3): # 0,1,2
            print("inner loop")

outer loop
inner loop
inner loop
inner loop
outer loop
inner loop
inner loop
inner loop
outer loop
inner loop
inner loop
inner loop

In [13]:
for i in range(0,3):# 0,1,2
    print("outer loop")
    for j in range(0,3): # 0,1,2,3
            print("First inner loop")
            for k in range(0,3):
                print("second inner loop")

outer loop
First inner loop
second inner loop
second inner loop
second inner loop
First inner loop
second inner loop
second inner loop
second inner loop
First inner loop
second inner loop
second inner loop
second inner loop
outer loop
First inner loop
second inner loop
second inner loop
second inner loop
First inner loop
second inner loop
second inner loop
second inner loop
First inner loop
second inner loop
second inner loop
second inner loop
outer loop
First inner loop
second inner loop
second inner loop
second inner loop
First inner loop
second inner loop
second inner loop
second inner loop
First inner loop
second inner loop
second inner loop
second inner loop

In [15]:
for i in range(3):
    print("outer loop")

outer loop
outer loop
outer loop

In [16]:
for j in range(0,3):
    print("First inner loop")

First inner loop
First inner loop
First inner loop

In [20]:
for i in range(3):
    print("outer loop")
    print(1)

outer loop
1
outer loop
1
outer loop
1

In [24]:
for i in range(3):
    print("outer loop")
    for j in range(3):
        print("1")

outer loop
1
1
1
outer loop
1
1
1
outer loop
1
1
1

In [25]:
for i in range(3):
    print("outer loop")
for j in range(3):
    print("1")

outer loop
outer loop
outer loop
1
1
1

In [29]:
for i in range(5):
    print(i)
for j in range(6):
    print(j)

0
1
2
3
4
0
1
2
3
4
5

In [30]:
lst1 = [10,20,30,40]
lst2 = [2,3,4,5]
result = []
for i in lst1:
    for j in lst2:
        result.append(i+j)
    print(result)

[12, 13, 14, 15]
[12, 13, 14, 15, 22, 23, 24, 25]
[12, 13, 14, 15, 22, 23, 24, 25, 32, 33, 34, 35]
[12, 13, 14, 15, 22, 23, 24, 25, 32, 33, 34, 35, 42, 43, 44, 45]

In [31]:
lst1 = [10,20,30,40]
lst2 = [2,3,4,5]
result = []
for i in lst1:
    for j in lst2:
        result.append(i+j)
    print(result)

[12, 13, 14, 15, 22, 23, 24, 25, 32, 33, 34, 35, 42, 43, 44, 45]

In [35]:
lst1 = [10,20]
lst2 = [2,3]
result = []
for i in lst1:
    print("first loop:",i)
    for j in lst2:
        print("second loop",j)
        result.append(i+j)
    print(result)

first loop: 10
second loop 2
second loop 3
[12, 13]
first loop: 20
second loop 2
second loop 3
[12, 13, 22, 23]

In [38]:
lst1 = [10,20]
lst2 = [2,3]
result = []
for i in lst1:
    print("first loop:",i)
    for j in lst2:
        result.append(i+j)
        print(result)

first loop: 10
first loop: 20
[22]
[22, 23]

In [43]:
lst1 = []
for i in range(3):
    #print(i)
    for j in range(10):
        if j>5:
           lst1.append(j)
    print(lst1)
    break

[6, 7, 8, 9]

In [44]:
lst1 = []
for j in range(10):
    if j>5:
        lst1.append(j)
print(lst1)

[6, 7, 8, 9]

In [45]:
lst1 = []
for j in range(10):
    if j<5:
        lst1.append(j)
print(lst1)

[0, 1, 2, 3, 4]

In [46]:
lst1 = []
for j in range(100):
    if j<44:
        lst1.append(j)
print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]

In [49]:
#lst1 = []
for j in range(0,100,2):
    print(j,end = " ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [56]:
for j in range(0,100):
    if j%2!=0:
        print(j,end = " ")
    print("@")
#     for j in range(3):
#         print('------')

@
1 @
@
3 @
@
5 @
@
7 @
@
9 @
@
11 @
@
13 @
@
15 @
@
17 @
@
19 @
@
21 @
@
23 @
@
25 @
@
27 @
@
29 @
@
31 @
@
33 @
@
35 @
@
37 @
@
39 @
@
41 @
@
43 @
@
45 @
@
47 @
@
49 @
@
51 @
@
53 @
@
55 @
@
57 @
@
59 @
@
61 @
@
63 @
@
65 @
@
67 @
@
69 @
@
71 @
@
73 @
@
75 @
@
77 @
@
79 @
@
81 @
@
83 @
@
85 @
@
87 @
@
89 @
@
91 @
@
93 @
@
95 @
@
97 @
@
99 @

In [54]:
for j in range(0,100):
    if j%2!=0:
        print(j,end = " ")
print("@")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 @

In [65]:
for j in range(0,100):
    if j%2!=0:
        print(j,end = " ")
print("@")
for j in range(3):
    print('------')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 @
------
------
------

In [ ]:
for j in range(0,100):
    if j%2!=0:
        print(j,end = " ")
    else:
        if j==4:
            print("the value is equal to j",j)
num = int(input("Enter number:"))
for j in range(num):
    print('------')
else:
    print("Terminate")

In [15]:
num = 11
if num>1:
    for i in range(2,int(num/2)):
        print(i)
        if num%i==0:
            print("the nums is not prime")
            break
    else:
        print("the number is prime")

2
3
4
the number is prime