In [ ]:
# data types
# operators
# data structure
# varible
# indetentation
# condinational statement
# looping
# Function
# class
# inheritance
# polymorph
# encapsulation
# resume biluding
# linked in profile
# github

In [ ]:
len()
print()
input()
range()
type()
append()
insert()

# Function

In [ ]:
# reusability of code
# functin has group of
# lines which perform certain (xyz)task.

# Tpyes

Built inFunction


User define function

In [ ]:
# Biult in function

# len
# type
# max
# min
# input
# id
# min
# average
# mean
# median
# print()
# append
# insert
# reverse
# pop
# delete
# isdigit
# astype
# range
# copy

# Syntax

In [ ]:
# user define  function
'''
def "function_name"(): # defination of function
    
     pass # enmpty function # body of function

"function_name"() # function call

'''

In [3]:
def add_12():
    print("welcome")
    print(45+2383)
add_12()

welcome
2428

In [ ]:
def add_12(): # 
    
    pass
    
add_12()# function call

In [ ]:
def 12_add():
    print(" welcome ")
12_add()

In [ ]:
def my_fisrt_function():
    print("I have done my first function in a good manner")

In [ ]:
def my_fisrt_function():
    
    print("I have done my first function in a good manner")

my_fisrt_function()

In [ ]:
def my_fisrt_function():
    
    print("I have done my first function in a good manner")
    print("I am done with first code")
    
my_fisrt_function()

In [ ]:
def my_fisrt_function():
    
    print("I have done my first function in a good manner")
    print("I am done with first code"
    
my_fisrt_function()

In [ ]:
print("welcome to the class John")

In [ ]:
name = " john1"
print("Welcome to the class",name)

In [ ]:
def welcome(name):
    
    print("welcome to the class",name)

welcome()

In [ ]:
def welcome(name):
    
    print("welcome to the class",name)

welcome("john")

In [ ]:
welcome("ritesh")

In [ ]:
welcome("Abhishek")

In [ ]:
welcome("Priyanka")

In [ ]:
welcome("Poonam")

In [ ]:
def welcome(name,surname):
    
    print("welcome to the class",name,surname)

welcome("sameer","junagadhe")

In [ ]:
def info(name,surname,education,age,sal):
    print("name is :",name)
    print("surname is:",surname)
    print("age is :",age)
    
info("krish","yadav","limitless","100000","72351236523612312673671236123")

# Error

In [ ]:
def student_details(name,surname,education):
    print('Name is :',name)
    
student_details("vikas")

# Solution

In [ ]:
def student_details(name,surname,education):
    print('Name is :',name)
    
student_details("vikas","Rathod","BE-IT")

# User input

In [4]:
def student_details(name,surname,education):
    print('Name is :',name)

name = input("Enter your name:")
surname = input("Enter your surname:")
edu = input("Enter tou education:")

student_details(name,surname,edu)

Enter your name:vikas
Enter your surname:rathod
Enter tou education:Be
Name is : vikas

In [ ]:
num = 11
if num%2==0:
    print("even")
else:
    print("Odd")

In [ ]:
def even_odd(num):
    
    if num%2==0:
        print("even")
    else:
        print("Odd")
    
even_odd(11)

In [ ]:
even_odd(12)

In [ ]:
even_odd(1)

In [ ]:
def even_odd(num):
    
    if num%2==0:
        print("even")
    else:
        print("Odd")
number = int(input("enter a number:"))
even_odd(number)

In [1]:
number = int(input("enter a number:"))
def even_odd(num):
    
    if num%2==0:
        print("even")
    else:
        print("Odd")
even_odd(number)

enter a number:12
even

In [4]:
def even_odd(num):
    
    if num%2==0:
        print("even")
    else:
        print("Odd")
even_odd(number1)
number1 = int(input("enter a number:"))

NameError: name 'number1' is not defined

In [5]:
def even_odd(num):
    
    if num%2==0:
        print("even")
    else:
        print("Odd")
number1 = int(input("enter a number:"))
even_odd(number1)

enter a number:12
even

# Default value to argument

In [6]:
def add(a,b=10):
    result = a+b
    print(result)
add(12)

22

In [16]:
def xyz(*names):
    print("name is ",names,"education ",edu)

xyz("vikas","vikas1",'vikas2')

name is  ('vikas', 'vikas1', 'vikas2') education  Be

In [7]:
def info1(name,surname):
    print("Name is :",name,"Surname is :",surname)
info1("viraj","Girase")

Name is : viraj Surname is : Girase

# Python Arbitrary Arguments

In [8]:
def student_names(names):
    print("Names are :",names)
student_names("Sanet","Rohit","Abhishek","Priyanka")

TypeError: student_names() takes 1 positional argument but 4 were given

In [11]:
def student_names(*names):
    print("Names are :",names)
student_names("Sanet","Rohit","Abhishek","Priyanka")

Names are : ('Sanet', 'Rohit', 'Abhishek', 'Priyanka')