In [ ]:
#Data Structures
# list 
# tuple
# dict
# set

In [ ]:
# list is mutable / change/ update
# list have multiple values within a single variable
# list represent in []
# list allows duplicate values
# indeing of list is start from 0 and end with n-1

# Python Data Structure

# List

Lists are used to store multiple items in a single variable.

List items are ordered, changeable, and allow duplicate values.

A single list may contain DataTypes like Integers, float, boolean, complex, Strings, as well as Objects.

List is mutable data stucture

# Creating a List

In [ ]:
# Python program to demonstrate
# Creation of List
 
# Creating blank List
List = []
print("Blank List: ")
print(List)

Blank List:
[]

In [ ]:
lst = [] # representation of list []  # empty list
lst1 = [1,2,3,4,5,6,7,8,5,4,2,4,2,4,2,5,3]

In [1]:
lst = []
print(lst)

[]

In [2]:
lst1 = [1,2,3,4,5,6,7,8,5,4,2,4,2,4,2,5,3] # integer values in list
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 5, 4, 2, 4, 2, 4, 2, 5, 3]

In [3]:
lst2 = [12.0,23.0,4.5,45.65] # float values in list
print(lst2)

[12.0, 23.0, 4.5, 45.65]

In [ ]:
lst3 = ["Pooja","harshada","vishakha","mayur"] # string values

In [4]:
lst4 = [10,"vikas",12.9,True,12+2j]
lst4

[10, 'vikas', 12.9, True, (12+2j)]

In [8]:
#Indexing

lst22 = [10,50,14,13,9,23,3]

lst22[0]

10

In [7]:
lst22[4]

9

In [9]:
lst22[2]

14

In [10]:
lst20 = [10,50,14,13,9,23,3]

In [13]:
lst20[-6]

50

In [15]:
lst_int = [10,50,14,13,9,23,3]

In [19]:
lst_int[3]

13

In [21]:
lst_int[3]=130 # list is mutable data structure
lst_int

[10, 50, 14, 130, 9, 23, 3]

In [23]:
lst_int[5]="Ram"
lst_int

[10, 50, 14, 130, 9, 'Ram', 3]

In [26]:
# Slicing on list

lst_int = [10,50,14,13,9,23,3]
lst_int

[10, 50, 14, 13, 9, 23, 3]

In [30]:
lst_int[0:5]

[10, 50, 14, 13, 9]

In [31]:
lst_int[0:3] #10,50,14

[10, 50, 14]

In [32]:
lst_int = [10,50,14,13,9,23,3]
lst_int[-4:-1]

[13, 9, 23]

In [33]:
lst_int = [10,50,14,13,9,23,3]
lst_int[0:6:1]

[10, 50, 14, 13, 9, 23]

In [34]:
lst_int[0:6:2]

[10, 14, 9]

In [37]:
lst_int = [10,50,14,13,9,23,3]
lst_int[0:6]

[10, 50, 14, 13, 9, 23]

In [36]:
lst_int[0:6:3]

[10, 13]

In [38]:
type(lst_int)

list

In [39]:
len(lst_int)

7

In [ ]:
# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)

List of numbers:
[10, 20, 14]

In [ ]:
# Creating a List of strings and accessing
# using index
List = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(List[0])
print(List[2])

List Items:
Geeks
Geeks

In [ ]:
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Geeks', 'For'], ['Geeks']]
print("\nMulti-Dimensional List: ")
print(List)

Multi-Dimensional List:
[['Geeks', 'For'], ['Geeks']]

# Creating a list with multiple distinct or duplicate elements
A list may contain duplicate values with their distinct positions and hence, multiple distinct or duplicate values can be passed as a sequence at the time of list creation.

In [ ]:
# Creating a List with
# the use of Numbers
# (Having duplicate values)
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("\nList with the use of Numbers: ")
print(List)

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

In [ ]:
#
# All data types values in single list
lst = [1,12.3,"Python",True,1+2j]
lst

[1, 12.3, 'Python', True, (1+2j)]

# Len() Method
There is a built-in function called len() for getting the total number of items in a list, tuple, arrays, dictionary, etc. 

The len() method takes an argument where you may provide a list and it returns the length of the given list.

The len() method is one of the most used and convenient ways to find the length of list in Python.

This is the most conventional technique adopted by all the programmers today

In [ ]:
lst = [1,12.3,"Python",True,1+2j]
print(len(lst))

5

# To check Type data  variable

The type() function either returns the type of the object or Variable.

Basically you are trying to check a variable is of which data type(either it could be a integer,float,string/object,list,tuple,dictionary and so on....)

In [ ]:
lst = [1,12.3,"Python",True,1+2j]
print(type(lst))

<class 'list'>

In [ ]:
dict = {"name":"Vikas","age":100,"mob":2332134443,"adrss":"London 61 sector"}
print(type(dict))

<class 'dict'>

In [ ]:
name_variable = "Vikas"
print(type(name_variable))

<class 'str'>

Creating a list with multiple distinct or duplicate elements

In [ ]:
lst11 = [1,1,2,2,3,3,4,4,3,6,4,6,3,2]
lst11

[1, 1, 2, 2, 3, 3, 4, 4, 3, 6, 4, 6, 3, 2]

In [ ]:
print(len(lst11)) # or     len(lst11)

14

# Python Built functions
Using append() method

append() -------->	adds an element to the end of the list

extend()  -------->	adds all elements of a list to another list

insert()  -------->	inserts an item at the defined index

remove()  -------->	removes an item from the list

pop()     -------->	returns and removes an element at the given index

clear()  -------->	removes all items from the list

index()  -------->	returns the index of the first matched item

count()  -------->	returns the count of the number of items passed as an argument

sort()   -------->	sort items in a list in ascending order

reverse()  -------->	reverse the order of items in the list

copy()  -------->	returns a shallow copy of the list

Examples on built in functions

In [ ]:
# Example 1: Creating a list
fruits = ["apple", "banana", "cherry", "date"]
print(fruits)

# Example 2: Accessing elements
print(fruits[1])  # Output: banana

# Example 3: Modifying a list
fruits[2] = "blueberry"
print(fruits)  # ['apple', 'banana', 'blueberry', 'date']

# Example 4: Adding elements
fruits.append("elderberry")
print(fruits)

# Example 5: Removing elements
fruits.remove("banana")
print(fruits)

# Example 6: Slicing a list
print(fruits[1:3])  # ['blueberry', 'date']

# Example 7: Iterating over a list
for fruit in fruits:
    print(fruit)

# Example 8: List comprehension
squared_numbers = [x**2 for x in range(5)]
print(squared_numbers)

# Example 9: Sorting a list
numbers = [4, 2, 9, 1, 5]
numbers.sort()
print(numbers)  # [1, 2, 4, 5, 9]

# Example 10: List length
print(len(fruits))  # Output: 4

In [1]:
lstt11 = [10,42,3,12,4,23,23]

In [2]:

lstt11.append(200)
lstt11

[10, 42, 3, 12, 4, 23, 23, 200]

In [3]:
lstt11.append("vishakha")
lstt11

[10, 42, 3, 12, 4, 23, 23, 200, 'vishakha']

Using insert() method

It requires two arguments(position, value).

In [1]:
lstt11 = [10,42,3,12,4,23,23]

In [2]:
lstt11.insert(4,200000)

In [3]:
lstt11

[10, 42, 3, 12, 200000, 4, 23, 23]

In [4]:
lstt11.insert(0,"vikas")
lstt11

['vikas', 10, 42, 3, 12, 200000, 4, 23, 23]

# Delete List Elements
We can delete one or more items from a list using the Python del statement. It can even delete the list entirely.

In [ ]:
# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# delete one item
del my_list[2]

print(my_list)

# delete multiple items
del my_list[1:5]

print(my_list)

# delete the entire list
del my_list

# Error: List not defined
print(my_list)

This error occure becaause in above shell(see line no 18) you were delete entire list

# Remove

We can use remove() to remove the given item or pop() to remove an item at the given index.

The pop() method removes and returns the last item if the index is not provided. This helps us implement lists as stacks (first in, last out data structure).

And, if we have to empty the whole list, we can use the clear() method.

In [ ]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

# Output: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'o'
print(my_list.pop(1))

# Output: ['r', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'm'
print(my_list.pop())

# Output: ['r', 'b', 'l', 'e']
print(my_list)

my_list.clear()

# Output: []
print(my_list)

# What is Indexing in python?
Indexing in Python means referring to an element of an iterable by its position within the iterable.

Each character can be accessed using their index number.

To access characters in a string we have two ways:

Positive index number   : Start with 0 1 2 3 4 5.....

Negative index number   : Start from last with -1 -2 -3 ......

# See the positive and negative indexing below

In [ ]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']
#           0    1    2    3    4    5    6

In [ ]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']
#          -7   -6   -5   -4   -3   -2   -1

# Positive Indexing

In [ ]:
# Negative indexing in lists
my_list = ['p','r','o','sammer','b','e']

# first item
print(my_list[0])

p

Extracting 4th element/value from list

In [ ]:
print(my_list[3])

sammer

In [ ]:
print(my_list[2])

o

# What is a negative index in python?
- Python list items can be accessed with positive or negative numbers (also known as index).

- For instance our array/list is of size n, then for positive index 0 is the first index, 1 second, last index will be n-1.

    For negative index, -n is the first index, -(n-1) second, last negative index will be – 1.

In [ ]:
# Negative indexing in lists
my_list = ['p','r','o','b','e']

# last item
print(my_list[-1])

In [ ]:
# fifth last item
print(my_list[-5])

# List Slicing in Python
We can access a range of items in a list by using the slicing operator

In [ ]:
# List slicing in Python

my_list = ['p','r','o','g','r','a','m','i','z']

# elements from index 2 to index 4
print(my_list[2:5])

# elements from index 5 to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

# Note: 

When we slice lists, the start index is inclusive but the end index is exclusive. For example, my_list[2: 5] returns a list with elements at index 2, 3 and 4, but not 5.

# Add/Change List Elements
Lists are mutable, meaning their elements can be changed unlike string or tuple.

We can use the assignment operator = to change an item or a range of items.

In [ ]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8]

# change the 1st item    
odd[0] = 1            

print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

print(odd)

We can also use + operator to combine two lists. This is also called concatenation.

The * operator repeats a list for the given number of times.

In [ ]:
# Concatenating and repeating lists
odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["re"] * 3)

Furthermore, we can insert one item at a desired location by using the method insert() or insert multiple items by squeezing it into an empty slice of a list.

In [ ]:
# Demonstration of list insert() method
odd = [1, 9]
odd.insert(1,3)

print(odd)

odd[2:2] = [5, 7]

print(odd)

# Other List Operations in Python
List Membership Test

We can test if an item exists in a list or not, using the keyword in.

In [ ]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# Output: True
print('p' in my_list)

# Output: False
print('a' in my_list)

# Output: True
print('c' not in my_list)

# Iterating Through a List.
Using a for loop we can iterate through each item in a list.

In [ ]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

# Exercise

# Reverse a list in Python

list1 = [10, 22, 30, 400, 50]

Expected output = [50, 400, 30, 22, 10]

# Concatenate two lists index-wise
Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

list1 = ["M", "na", "i", "Ke"]

list2 = ["y", "me", "s", "lly"]

Expected output:

['My', 'name', 'is', 'Kelly']

# Write a program to count the number of items stored in a list.

lst = [1,2,3,4,5,6,"Python",20.3,"Sum"]

expected output = 9

# Python program to append an element to a list.

lst1 = ["Priyanka","Hitesh",12,54.3]

append : "School" in a list.

expected output = ["Priyanka","Hitesh",12,54.3,"School"]

# Thank you !