In [ ]:
lst = [10,2.8,34,5,"Nick","Priyanka","Jonus"]
tup = ("Mango","Appple","Nick","Priyanka","Jonus")

In [ ]:
# Syntax

for var_name in "sequence":
    pass

In [ ]:
lst = [10,2.8,"Pratik"]
for h in lst:
    print("u r in for loop",h)

u r in for loop 10
u r in for loop 2.8
u r in for loop Pratik

In [ ]:
lst = (10,2.8,"Pratik")
for h in lst:
    print("u r in for loop",h)

u r in for loop 10
u r in for loop 2.8
u r in for loop Pratik

In [ ]:
str = "Welcome"
for i in str:
    print(i,end = " ")
print("----")

W e l c o m e ----

In [ ]:
str = "Welcome"
for i in str:
    print(i,end = "-")
else:
    print("\nEnd of the for loop")

W-e-l-c-o-m-e-
End of the for loop

In [ ]:
tup = ("Mango","Appple","Nick","Priyanka","Jonus")
for i in tup:
    print(i,end = ", ")
else:
    print("\nEnd of the for loop")

Mango, Appple, Nick, Priyanka, Jonus,
End of the for loop

In [ ]:
tup = ("Ketan","Pratik","Sahil","Abhishek","Pratiksha",
       "Harshada K","Harshada Kr","Harshada shinde")
for i in tup:
    #print(i)
    if i=="Sahil":
        print("Present sir")
else:
    print("End of the for loop")

Present sir
End of the for loop

In [ ]:
print(list(range(1,11)))
print(list(range(1,11,2)))
print(list(range(1,11,3)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [ ]:
empt = []
for i in range(1,101):
    #print(i)
    if i%2==0:
        #print(i,end = " ")
        empt.append(i)
print(len(empt))

50

In [ ]:
# even_sum = 0
# odd_sum = 0
# even = []
# odd = []
# for i in range(1,10):
#     if i%2==0:
#         even.append(i)
#         even_sum = even_sum+i
#     else:
#         odd.append(i)
#         odd_sum = odd_sum+i
# print("Sum of even = >" ,even_sum)

# even.insert(2,100)
# print(even)
# print("Sum of odd = >",odd_sum)
# print(odd)
# #print(sum)

In [ ]:
student = {"Name":"RAju","Age":29,"Address":"Columbia",
           "Education":"PHD","list":[1,32,5]}
for key in student:
    #print(key)
    if key=="Address":
        print(student["Address"])
        break
    else:
        print("not present")
# print(student["list"])

not present
not present
Columbia

In [ ]:
student = {"Name":"RAju","Age":29,"Address":"Columbia",
           "Education":"PHD","list":[1,32,5]}
for key in student:
    #print(key)
    if key=="Address":
        print(student["Address"])
        continue
    else:
        print("not present")
# print(student["list"])

not present
not present
Columbia
not present
not present

In [ ]:
for i in range(0,5):#0,1,2,3,4
    if i ==3:
        print(i)
        continue
print(i,"---")

3
4 ---

In [ ]:
for i in range(1,5):
    print(i,end = " ")
for j in "Welcome":
    print(j,end=" ")

1 2 3 4 W e l c o m e

In [ ]:
for i in range(0,5):#0,1,2,3
    print("outer loop")
    for i in range(0,3):
        print("inner loop")

outer loop
inner loop
inner loop
inner loop
outer loop
inner loop
inner loop
inner loop
outer loop
inner loop
inner loop
inner loop
outer loop
inner loop
inner loop
inner loop
outer loop
inner loop
inner loop
inner loop

In [ ]:
lst = [[1,2,3,4,5,6],[2,43,32,4,54]]
for d in lst:
    print(d)

[1, 2, 3, 4, 5, 6]
[2, 43, 32, 4, 54]

In [ ]:
lst = [[1,2,3,4,5,6],[2,43,32,4,54]]
even = []
h = 0
for d in lst:#l2
    for j in d:
        #print(j)
        if j>4:
            even.append(j)
        h = h+2
            #print(j,end=" ")
print(even)

[5, 6, 43, 32, 54]

In [ ]:

lis = [1, 2, 3, 4, 5]
 
for i in range(len(lis)):
     
    print(lis[i])
    i += 2

1
2
3
4
5

In [ ]:

# Using for loop
 
lis = [1, 2, 3, 4, 5]
 
i = 0
 
for j in range(len(lis)):
 
    # Terminating condition for i
    if(i >= len(lis)):
        break
     
    print(lis[i], end = " ")   
    i += 2

1 3 5

In [ ]:
for i in range(3):
    print(i)

0
1
2

In [ ]:
for i in range(3):# 0,1,2
    print("outer loop")
    for j in range(3):# 0,1,2
        print("inner loop")

outer loop
inner loop
inner loop
inner loop
outer loop
inner loop
inner loop
inner loop
outer loop
inner loop
inner loop
inner loop

In [ ]:
for g in [10,82,6.3,4,50]:
    print(g)

10
82
6.3
4
50

In [ ]:
for g in [[10,82,6.3,4,50]]:
    print(g)

[10, 82, 6.3, 4, 50]

In [ ]:
for g in [[10,82,6.3,4,50]]:
    print(g)
    for j in g:
        print(j)

[10, 82, 6.3, 4, 50]
10
82
6.3
4
50

In [ ]:
for g in [[10,82,6.3,4,50],[99,43,55]]:
    print(g)

[10, 82, 6.3, 4, 50]
[99, 43, 55]

In [ ]:
for g in [[10,82,6.3,4,50],[99,43,55]]:
    print('>>>>',g)
    for j in g:
        print("-----",j)

>>>> [10, 82, 6.3, 4, 50]
----- 10
----- 82
----- 6.3
----- 4
----- 50
>>>> [99, 43, 55]
----- 99
----- 43
----- 55

## While loop in python

In [ ]:
# syntax

# i = 0 # initialization
# while "Condition":# condition check
#     print(" ") # body of while loop

#     i+=1 # Increament of initial value
# --> end of while loop

In [ ]:
i = 0
while i>5:
    print("i is greater")
    i+=1

In [ ]:
i = 0
while i<5:
    print("i is greater")
    #i+=1
    i=i+1

i is greater
i is greater
i is greater
i is greater
i is greater

In [ ]:
i = 0
while i<5:
    print("i is greater")
    #i+=1
    i=i+1
print("process end")

i is greater
i is greater
i is greater
i is greater
i is greater
process end

In [ ]:
lst = [12,32,453,43,22,44]
for i in lst:

12
32
453
43
22
44

# Displaying the squares of first 10 natural numbers using a dictionary

In [ ]:
z = {}
for i in range(1,11):
    z[i] = i**2
print("the dictionary is : ",z)

the dictionary is :  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# store in single list from  50 numbers which are divisible by 3 or 6

In [ ]:
x = []
for i in range(1,51):
    if i%3==0 or i%6==0:
        x.append(i)
print("The numbers divisible by 3 or 6 in first 50 numbers are: ",x)

The numbers divisible by 3 or 6 in first 50 numbers are:  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]