In [16]:
st = {10,52,73,43,55,86,38,54.9,73,"dattu","manish","amol","amol","sanket","abhishek","priynka","poonam","gladson"}
print("Set output:",st)


st1 = {} # empty set
print(type(st1))

Set output: {'amol', 38, 'gladson', 73, 10, 43, 'sanket', 'priynka', 'poonam', 52, 86, 55, 54.9, 'dattu', 'abhishek', 'manish'}
<class 'dict'>

In [15]:
lst = [1,2,3,4,3,2,1,3,2,4,2]
print("List output:",lst)

st11 = {1,2,3,4,3,2,1,3,2,4,2}
print("Set output:",st11)

List output: [1, 2, 3, 4, 3, 2, 1, 3, 2, 4, 2]
Set output: {1, 2, 3, 4}

In [23]:

my_set = {11, 22, 33}
print(my_set)

{33, 11, 22}

In [25]:
st = {10,52,73,43,55,86,38,54.9,73,"dattu","manish","amol","amol","sanket","abhishek","priynka","poonam","gladson"}
# for i in st:
#   print(i)

amol
38
gladson
73
10
43
sanket
priynka
poonam
52
86
55
54.9
dattu
abhishek
manish

In [26]:
st111 = {1,2,42323}

stg = set([12,3,42,3,5,23,23,434])
print(stg)

{3, 5, 42, 12, 434, 23}

In [28]:
st = {10,52,73,43,55,86,38,54.9,73,"dattu","manish","amol","amol","sanket","abhishek","priynka","poonam","gladson"}
print(st)

{'amol', 38, 'gladson', 73, 10, 43, 'sanket', 'priynka', 'poonam', 52, 86, 55, 54.9, 'dattu', 'abhishek', 'manish'}

In [29]:
st.add(2000)

In [30]:
print(st)

{'amol', 38, 'gladson', 73, 10, 43, 'sanket', 'priynka', 2000, 'poonam', 52, 86, 55, 54.9, 'dattu', 'abhishek', 'manish'}

In [31]:
st.discard(2000)

In [32]:
print(st)

{'amol', 38, 'gladson', 73, 10, 43, 'sanket', 'priynka', 'poonam', 52, 86, 55, 54.9, 'dattu', 'abhishek', 'manish'}

In [33]:
st.remove(54.9)

In [34]:
print(st)

{'amol', 38, 'gladson', 73, 10, 43, 'sanket', 'priynka', 'poonam', 52, 86, 55, 'dattu', 'abhishek', 'manish'}

In [35]:
st.remove("education")

KeyError: ignored

In [36]:
st.discard("education")

In [37]:
st.clear()

In [ ]:
print(st)

In [ ]:
st = {10,52,73,43,55,86,38,54.9,73,"dattu","manish","amol","amol","sanket","abhishek","priynka","poonam","gladson"}
print(st)

In [39]:
a  = {1,3242,3,5232,42}
b = {21,54,67,1}
c = {2,3,4,53,43}
print(a|b)
a.union(b,c)

{1, 3, 67, 42, 3242, 5232, 21, 54}

{1, 2, 3, 4, 21, 42, 43, 53, 54, 67, 3242, 5232}

In [40]:
a&b
a.intersection(b)

a.intersection(c)

{1}

## Set in Python

## Creating Python Sets
A set is created by placing all the items (elements) inside curly braces {}, separated by comma, or by using the built-in set() function.

It can have any number of items and they may be of different types (integer, float, tuple, string etc.). But a set cannot have mutable elements like lists, sets or dictionaries as its elements.

In [ ]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [ ]:
# set cannot have duplicates
# Output: {1, 2, 3, 4}
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

# we can make set from a list
# Output: {1, 2, 3}
my_set = set([1, 2, 3, 2])
print(my_set)

# set cannot have mutable items
# here [4, 40] is a mutable list
# this will cause an error.

#my_set = {1, 2, [4, 40]}

{1, 2, 3, 4}
{1, 2, 3}

# Creating an empty set is a bit tricky.

Empty curly braces {} will make an empty dictionary in Python. To make a set without any elements, we use the set() function without any argument.

In [ ]:
# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))

# initialize a with set()
a = set()

# check data type of a
print(type(a))

<class 'dict'>
<class 'set'>

## Modifying a set in Python
Sets are mutable. However, since they are unordered, indexing has no meaning.

We cannot access or change an element of a set using indexing or slicing. Set data type does not support it.

We can add a single element using the add() method, and multiple elements using the update() method. The update() method can take tuples, lists, strings or other sets as its argument. In all cases, duplicates are avoided.

In [ ]:
# initialize my_set
my_set = {1, 3}
print(my_set)

# my_set[0]
# if you uncomment the above line
# you will get an error
# TypeError: 'set' object does not support indexing

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2, 3, 4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [27]:
st = {10,52,73,43,55,86,38,54.9,73,"dattu","manish","amol","amol","sanket","abhishek","priynka","poonam","gladson"}
st

{10,
 38,
 43,
 52,
 54.9,
 55,
 73,
 86,
 'abhishek',
 'amol',
 'dattu',
 'gladson',
 'manish',
 'poonam',
 'priynka',
 'sanket'}

## Removing elements from a set



1.   A particular item can be removed from a set using the methods discard() and remove().

2. The only difference between the two is that the discard() function leaves a set unchanged if the element is not present in the set. On the other hand, the remove() function will raise an error in such a condition (if element is not present in the set).

In [ ]:
# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element

my_set.discard(4)
print(my_set)

# remove an element

my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set

my_set.discard(2)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

In [ ]:
# remove an element
# not present in my_set
# you will get an error.
# Output: KeyError

my_set.remove(2)

KeyError: ignored

Similarly, we can remove and return an item using the pop() method.

Since set is an unordered data type, there is no way of determining which item will be popped. It is completely arbitrary.

We can also remove all the items from a set using the clear() method.

In [ ]:
# initialize my_set

my_set = set("Welcome")
print(my_set)

# pop an element
# Output: random element
print(my_set.pop())

# pop another element
my_set.pop()
print(my_set)

# clear my_set

my_set.clear()
print(my_set)

{'c', 'l', 'm', 'o', 'e', 'W'}
c
{'m', 'o', 'e', 'W'}
set()

## Python Set Operations
Sets can be used to carry out mathematical set operations like union(|), intersection(&), difference and symmetric difference. We can do this with operators or methods.


Let us consider the following two sets for the following operations.

In [ ]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5,3,6,7}

In [ ]:
print(A | B)
A.union(B)
print(A & B)
A.intersection(B)
# print(A - B)
# print(A ^ B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{1, 2, 6, 7}

# Other Set Operations
**Set Membership Test**

We can test if an item exists in a set or not, using the in keyword.



We can test if an item exists in a set or not, using the in keyword.

In [ ]:
# in keyword in a set
# initialize my_set
my_set = set("apple")

# check if 'a' is present
# Output: True
print('a' in my_set)

# check if 'p' is present
# Output: False
print('p' not in my_set)

True
False

In [ ]:
s = {"vikas","Krushna","Anil","Akash"}
for i in s:
    print(i)

vikas
Anil
Akash
Krushna

In [ ]:
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}  


print(Days)    
print(type(Days))    
print("looping through the set elements ... ")    
for i in Days:    
    print(i)

{'Monday', 'Thursday', 'Saturday', 'Wednesday', 'Sunday', 'Friday', 'Tuesday'}
<class 'set'>
looping through the set elements ...
Monday
Thursday
Saturday
Wednesday
Sunday
Friday
Tuesday

## You can write Set like below

In [ ]:
#Days = set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])

We can not take a list in set,because list is mutable data type.

Set allow only mutable element.

In [ ]:
# set2 = {1,2,3,["Javatpoint",4]}  
# print(type(set2))

In [3]:
lst = ["amol","sameer",43,543,"gone","3"]
lst.extend([2]) # syntax
lst

['amol', 'sameer', 43, 543, 'gone', '3', 2]

In [4]:
lst.extend([12,34,65,[8,45]])
print(lst)

['amol', 'sameer', 43, 543, 'gone', '3', 2, 12, 34, 65, [8, 45]]

for practice

In [ ]:
# Example 1: Creating a set
fruits = {"apple", "banana", "cherry"}
print(fruits)

# Example 2: Adding elements to a set
fruits.add("date")
print(fruits)

# Example 3: Removing an element
fruits.remove("banana")
print(fruits)

# Example 4: Checking for an element
print("apple" in fruits)  # Output: True

# Example 5: Set union
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)  # {1, 2, 3, 4, 5}

# Example 6: Set intersection
print(set1 & set2)  # {3}

# Example 7: Set difference
print(set1 - set2)  # {1, 2}

# Example 8: Set symmetric difference
print(set1 ^ set2)  # {1, 2, 4, 5}

# Example 9: Finding set length
print(len(fruits))

# Example 10: Set comprehension
square_set = {x**2 for x in range(6)}
print(square_set)